.key-hint-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.info-table thead th {
  background: var(--color-background);
  color: var(--color-accent);
  font-weight: 700;
  text-align: right;
  padding: var(--spacing-s);
  position: sticky;
  top: 0;
  z-index: 1;
}

.info-table tbody tr.info-table-category td {
  font-weight: 700;
  text-transform: uppercase;
  padding: var(--spacing-xs) var(--spacing-s);
}

.info-table tbody td.info-table-key {
  width: 1%;
}

.info-table tbody tr:hover td {
  background: var(--color-background-light);
}

.info-table tbody tr.info-table-category:hover td {
  background: var(--color-background);
}
