.command-feed-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1 1 0;
  min-height: 0;
  overflow: hidden;
}

.command-feed-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align items to the bottom */
  gap: var(--spacing-xs);
  font-size: var(--font-size-m);
  line-height: 1.2;
  color: var(--color-text);
}

.feed-line {
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.feed-line-tip {
  color: var(--color-accent);
}
